In [1]:
import pandas as pd
import geopy

For data analyses, latitude and longitude data was convered to zipcode. Code has been adapted from: https://gis.stackexchange.com/questions/352961/convert-lat-lon-to-zip-postal-code-using-python

## Green taxi zipcodes

This dataset too large. To avoid "GeoCoder unavailable: HTTPSConnectionPool" error, completed in two seperate files that split the data in half.

### Part 1

In [2]:
columns = ['pickup_time','pickup_latitude','pickup_longitude']

green_taxi_1 = pd.read_csv('google_sheets_green_taxi_1.csv', usecols = columns)

In [17]:
green_taxi_1

       pickup_time  pickup_latitude  pickup_longitude
0      11:17:23 PM        40.708153        -73.943352
1       5:05:32 PM        40.847874        -73.934738
2       3:02:28 AM        40.759380        -73.830322
3       3:07:37 PM        40.665527        -73.921448
4      10:15:46 PM        40.750786        -73.875938
...            ...              ...               ...
20494   8:26:45 PM        40.751476        -73.855736
20495   3:38:07 PM        40.789658        -73.952461
20496  11:47:38 AM        40.759499        -73.830460
20497   9:46:11 AM        40.870136        -73.890694
20498   6:08:59 PM        40.788841        -73.952904

[20499 rows x 3 columns]

In [3]:
def get_zipcode(df, geolocator, lat_field, lon_field):
    location = geolocator.reverse((df[lat_field], df[lon_field]))
    
    if 'postcode' in location.raw['address']:
        return location.raw['address']['postcode']
    else:
        return None

geolocator = geopy.Nominatim(user_agent='http')

green_taxi_zipcodes_1 = green_taxi_1.apply(get_zipcode, axis=1, geolocator=geolocator, lat_field='pickup_latitude', lon_field='pickup_longitude')

In [4]:
green_taxi_zipcodes_1

0         11206
1         10033
2        111354
3         11212
4         11372
          ...
20494     11368
20495     10029
20496    111354
20497     10458
20498     10129
Length: 20499, dtype: object

In [22]:
green_taxi_zipcodes_1.to_csv('green_taxi_zipcodes_1.csv')

### Part 2

In [7]:
columns = ['pickup_time','pickup_latitude','pickup_longitude']

green_taxi_2 = pd.read_csv('google_sheets_green_taxi_2.csv', usecols = columns)

In [18]:
green_taxi_2

       pickup_time  pickup_latitude  pickup_longitude
0      11:36:32 PM        40.721931        -73.957840
1       7:33:56 PM        40.670479        -73.988777
2      11:38:50 PM        40.714054        -73.955666
3      10:23:03 AM        40.770329        -73.932220
4      11:33:33 PM        40.806618        -73.942696
...            ...              ...               ...
25403   9:29:15 AM        40.691311        -73.944992
25404   8:22:16 PM        40.744556        -73.886261
25405   3:45:04 AM        40.746994        -73.890022
25406   6:46:50 PM        40.787498        -73.947708
25407   8:05:11 PM        40.630840        -73.976868

[25408 rows x 3 columns]

In [10]:
def get_zipcode(df, geolocator, lat_field, lon_field):
    location = geolocator.reverse((df[lat_field], df[lon_field]))
    
    if 'postcode' in location.raw['address']:
        return location.raw['address']['postcode']
    else:
        return None

geolocator = geopy.Nominatim(user_agent='myencoder')

green_taxi_zipcodes_2 = green_taxi_2.apply(get_zipcode, axis=1, geolocator=geolocator, lat_field='pickup_latitude', lon_field='pickup_longitude')

In [11]:
green_taxi_zipcodes_2

0        11249
1        11215
2        11211
3        11102
4        10027
         ...
25403    11221
25404    11373
25405    11373
25406    10029
25407    11230
Length: 25408, dtype: object

In [23]:
green_taxi_zipcodes_2.to_csv('green_taxi_zipcodes_2.csv')