In [1]:
import pandas as pd
import geopy

For data analyses, latitude and longitude data was convered to zipcode. Code has been adapted from: https://gis.stackexchange.com/questions/352961/convert-lat-lon-to-zip-postal-code-using-python

## Yellow taxi zipcodes

This dataset too large. To avoid "GeoCoder unavailable: HTTPSConnectionPool" error, completed in two seperate files that split the data in half.

### Part 1

In [2]:
columns = ['pickup_time','pickup_latitude','pickup_longitude']

yellow_taxi_1 = pd.read_csv('google_sheets_yellow_taxi_1.csv', usecols = columns)

In [3]:
yellow_taxi_1

       pickup_time  pickup_latitude  pickup_longitude
0      12:34:00 AM        40.734792        -73.990077
1       7:04:00 PM        40.755542        -73.983700
2       9:38:30 PM        40.801980        -73.957175
3       1:50:05 AM        40.718649        -74.000403
4      11:54:41 AM        40.737751        -73.992124
...            ...              ...               ...
24994   3:24:00 PM        40.749342        -73.992102
24995  11:11:00 PM        40.754030        -73.995870
24996   6:06:00 PM        40.758712        -73.972747
24997   1:45:00 PM        40.748447        -74.008065
24998   7:13:00 PM        40.776342        -73.989787

[24999 rows x 3 columns]

In [6]:
def get_zipcode(df, geolocator, lat_field, lon_field):
    location = geolocator.reverse((df[lat_field], df[lon_field]))
    
    if 'postcode' in location.raw['address']:
        return location.raw['address']['postcode']
    else:
        return None

geolocator = geopy.Nominatim(user_agent='https')

yellow_taxi_zipcodes_1 = yellow_taxi_1.apply(get_zipcode, axis=1, geolocator=geolocator, lat_field='pickup_latitude', lon_field='pickup_longitude')

In [7]:
yellow_taxi_zipcodes_1

0         10003
1         10036
2         10039
3         10013
4         10003
          ...
24994     10119
24995     10001
24996      None
24997    100014
24998      None
Length: 24999, dtype: object

In [8]:
yellow_taxi_zipcodes_1.to_csv('yellow_taxi_zipcodes_1.csv')

### Part 2

In [2]:
columns = ['pickup_time','pickup_latitude','pickup_longitude']

yellow_taxi_2 = pd.read_csv('google_sheets_yellow_taxi_2.csv', usecols = columns)

In [3]:
yellow_taxi_2

       pickup_time  pickup_latitude  pickup_longitude
0      10:09:00 PM        40.727902        -73.985005
1       6:46:26 PM        40.756994        -74.001239
2       3:35:00 PM        40.715620        -73.996548
3      10:16:00 PM        40.719367        -74.010035
4       1:16:00 PM        40.797202        -73.969765
...            ...              ...               ...
23775  12:35:28 AM        40.728358        -74.002468
23776   8:02:53 AM        40.719583        -73.991930
23777   1:59:00 PM        40.750507        -73.986772
23778   7:48:00 PM        40.744005        -74.001537
23779   7:39:00 PM        40.723406        -73.991051

[23780 rows x 3 columns]

In [5]:
def get_zipcode(df, geolocator, lat_field, lon_field):
    location = geolocator.reverse((df[lat_field], df[lon_field]))
    
    if 'postcode' in location.raw['address']:
        return location.raw['address']['postcode']
    else:
        return None

geolocator = geopy.Nominatim(user_agent='devra.alper@gmail.com')

yellow_taxi_zipcodes_2 = yellow_taxi_2.apply(get_zipcode, axis=1, geolocator=geolocator, lat_field='pickup_latitude', lon_field='pickup_longitude')

In [6]:
yellow_taxi_zipcodes_2

0             10009
1             10018
2             10013
3             10013
4             10025
            ...
23775    10014-3621
23776         10002
23777         10018
23778         10011
23779    10012-3332
Length: 23780, dtype: object

In [7]:
yellow_taxi_zipcodes_2.to_csv('yellow_taxi_zipcodes_2.csv')